main {
  width: 100%;
  height: 100%;
}

.avatar {
  width: 250px;
  padding: 3rem 50px 50px 50px;
  justify-self: center;
  position: fixed;
  position: -webkit-fixed;
  overflow-x: hidden;
}

.avatar img {
  border-radius: 50%;
}

.artgrid {
  display: flex;
  flex-direction: row;
  margin-left: 250px;
  padding-right: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artgrid img {
  padding: 10px;
  max-height: 180px;
  cursor: pointer;
}

.modalwrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.modalcontainer {
  padding-top: 10vh;
  max-height: 60vh;
  max-width: 75vw;
  z-index: 1;
}

.modalcontainer img {
  max-height: 70vh;
  max-width: 100%;
}

.blur {
  filter: blur(5px);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  height: 100vh;
}
