@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');


main {
  width: 100%;
  height: 100%;
  display: flex;
}
.bodyDuringModal {
  overflow: hidden;
  /* height: 100vh; */
  /* position: fixed; */
  padding-right: 15px;
}
.avatar {
  /* width: 250px; */
  padding: 3rem 50px 50px 50px;
  /* justify-self: center; */
  position: fixed;
  position: -webkit-fixed;
  /* overflow-x: hidden; */
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
}

.avatar img {
  border-radius: 50%;
}



.artgrid {
  display: flex;
  margin-left: 250px;
  /* padding-right: 100px; */

}

.artgrid img {
  transition: all 200ms;

  /* max-height: 180px; */
  height: 80vh;
  cursor: pointer;
  border-radius: 20px;
}

.artgrid img:hover{
  transform: scale(0.95);
}

.image-details{
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  margin-top: 20px;
}

.image-container{
  padding: 10px;

}

.modalwrapper {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.modalcontainer {

  height: 80vh;
  z-index: 999;
}

.modalcontainer img {
  height: 100%;
}

.blur {
  filter: blur(5px);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}

.user-details{
  font-family: 'JetBrains Mono', monospace;
  font-size: .9rem;
  font-weight: 400;
  margin-top: 40px;
}

.user-details div:not(:first-child){
  margin-top: 15px;
}

.user-details div{
  cursor: pointer;
}